# =========================
# Java compiled files
# =========================
*.class

# =========================
# Build directories
# =========================
bin/
out/
build/
target/

# =========================
# VS Code settings
# =========================
.vscode/
.qudo/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.swp